### Build Artifacts ###
target/
**/target/
build/
**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Logs ###
*.log

### OS Related ###
.DS_Store
Thumbs.db

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar